* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* common */
img, svg {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.title-page p {
    color: #000;
    font-family: "Poppins";
    font-size: 34px;
    font-weight: 900;
    padding-top: 25px;
}

hr {
    width: 50px;
    height: 3px;
    background-color: #7395A3;
}

/* home */
.header {
    background-image: url('/asset/img/bg/z6013237802932_0a8eecd7f97ca2f09b9e8423611adc8d.jpg');
    background-repeat: no-repeat;
    /* Ngăn lặp hình ảnh */
    background-size: cover;
    /* Để hình ảnh phủ toàn bộ màn hình */
    background-position: center;
    /* Đặt hình ảnh ở giữa */
    height: 100vh;
}

.navbox {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.navbar ul {
    display: flex;
    margin-left: auto;
}

.navbar ul a {
    color: rgb(50, 50, 50);
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    padding: 8px 25px;
}

.navbar ul a:hover {
    border-bottom: 3px solid #0A0442;
}

.box-title {
    margin-top: 150px;
}

.title-1 {
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 60px;
    font-weight: 900;
}

.title-2 {
    width: 100%;
    flex-shrink: 0;
    color: #F2F3FF;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.join-btn {
    width: 120px;
    padding: 12px 18px;
    flex-shrink: 0;
    border-radius: 5px;
    /* background: #7395A3; */
    background: #0A0442;
    border: none;
    flex-shrink: 0;
    /* color: #000113; */
    color: #fdfdfd;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}

.connect-btn {
    width: 120px;
    padding: 12px 18px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #fff;
    border: none;
    flex-shrink: 0;
    color: #0A0442;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
}

.connect-btn:active,
.join-btn:active {
    opacity: 0.8;
}

/*----------------------------------------------------------*/
/* profile */
.profile {
    background: #EFF2F8;
    height: 150vh;
}

.title-page {
    min-width: 180px;
    text-align: center;
}

.profile-main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profile-main img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
}

.profile-main .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2%;
    width: 55%;
}

.info .name {
    color: #000;
    font-family: "Poppins";
    font-size: 34px;
    font-weight: 800;
}

.info .description {
    color: #817D7D;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 25px;
    width: 80%;
}

.profile-main .flex-tong {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
}

.flex-tong .desc-item {
    display: flex;
    flex-direction: row;
}

.desc-item .box {
    background: #D9D9D9;
    width: 60px;
    height: 60px;
}

.desc-item .box svg {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-left: 10px;
}

.desc-item-extra {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: -2px;
}

.desc-item-extra .mine {
    color: #000;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 900;
    flex-shrink: 0;
}

.desc-item-extra .detail {
    flex-shrink: 0;
    color: #817D7D;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    width: 380px;
    margin-top: 7px;
}

/* Numbers that speak for myself */
.bg-office {
    background-image: url(/asset/img/bg/service-manager-la-gi-cac-cong-viec-service-manager-phai-lam-1918.jpg);
    object-fit: center;
    height: 280px;
    margin-top: 100px;
}

.bg-color {
    background-color: #000113;
    height: 280px;
    opacity: 0.6;
}

.number-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
}

.display {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.number-box .number {
    color: #Ffff;
    font-family: "Poppins";
    font-size: 100px;
    font-weight: 1000;
}

.number-box .content {
    flex-shrink: 0;
    color: #fdf0f0;
    /* color: #000; */
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 800;
    width: 200px;
    line-height: 25px;
}

/*----------------------------------------------------------*/
/* Project Page */
.projects-page {
    height: 120vh;
    margin-bottom: 100px;
    margin-top: 50px;
}

.hr {
    width: 80px;
    height: 3px;
    margin-top: 13px;
    background-color: #7395A3;
}

.box-project {
    display: flex;
    column-gap: 28px;
}

.box-project-2 {
    display: flex;
    margin-top: 15px;
    column-gap: 28px;
}

.pic-1 {
    height: 300px;
    width: 320px;
}

.pic-2 {
    height: 310px;
    width: 395px;
    border-bottom: 2px solid;
}

.pic-3 {
    height: 315px;
    width: 370px;
}

.pic-4 {
    height: 200px;
    width: 330px;
    object-fit: cover;
}

.pic-5 {
    height: 200px;
    width: 405px;
}

.pic-6 {
    height: 221px;
    width: 375px;
    border: 2px solid;
}

/*----------------------------------------------------------*/
/* Team Page */
.team-page {
    height: 100vh;
    background-color: #EFF2F8;
    max-width: 100%;
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin-top: 50px;
}

.box {
    background-color: #D9D9D9;
    height: 380px;
    width: 350px;
}

.box .mth {
    position: relative;
    top: -50px;
    right: 0px;
    height: 470px;
    object-fit: cover;
}

.box .a-Vu {
    position: relative;
    top: -210px;
    right: -20px;
    height: 550px;
    object-fit: cover;
}

.box .a-Loi {
    position: relative;
    top: -100px;
    height: 450px;
    object-fit: cover;
}

.box .small-box {
    width: 250px;
    height: 80px;
    background-color: #0A0442;
    position: relative;
    top: -240px;
    left: 50px;
}

.name-team {
    flex-shrink: 0;
    color: #fdfdfd;
    text-align: center;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
}

.position {
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 45px;
}

.box .small-box-2 {
    width: 250px;
    height: 80px;
    background-color: #0A0442;
    position: relative;
    top: -320px;
    left: 50px;
}

.box .small-box-3 {
    width: 250px;
    height: 80px;
    background-color: #0A0442;
    position: relative;
    top: -220px;
    left: 50px;
}

/*----------------------------------------------------------*/
/* Contact Page */
.contact-page {
    margin-top: 150px;
    height: 85vh;
}

.bg-extra {
    background-image: url(/asset/img/bg/58411ef1-teamwork-skills-in-the-workplace.jpeg);
    width: 100%;
    height: 100%;
}

.bg-color-contact {
    height: 100%;
    background-color: #000113;
    opacity: 0.65;
    z-index: -2;
}

.title-contact {
    color: #fff;
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding-top: 40px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    background-color: #fff;
    width: 550px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
}

input[type="text"],
.button-send {
    width: 422px;
    margin-top: 15px;
}

.test {
    width: 210px;
}

textarea {
    height: 70px;
    color: #0A0442;
    font-family: "Poppins";
    font-weight: 500;
    width: 422px;
}

::placeholder {
    color: #817D7D;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
}

input {
    height: 35px;
    color: #000113;
    font-family: "Poppins";
    font-weight: 600;
}

.link-contact {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.link-contact .icon {
    width: 40px;
    height: 40px;
    color: #0A0442;
    margin-right: 10px;
}

.button-send {
    margin-top: 10px;
    padding: 8px 0;
    color: #fff;
    border: none;
    border-radius: 5px; 
    font-family: "Poppins";
    background-color: #0A0442;
    z-index: 5;
    font-weight: 500;
}

.button-send:hover {
    background-color: #333;
    opacity: 0.9;
}

.box-footer {
    background-color: #000;
    position: absolute;
    height: 100px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.aka {
    color: #fff;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 800;
}

.temp {
    width: 270px; 
    color: #817D7D; 
    font-family: "Poppins";
    font-size: 13px;
}

.link-contact {
    width: 270px;
}

.link-contact svg {
    background-color: #fff;
    border-radius: 20px;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.link-contact svg:hover {
    opacity: 0.8;
}